@font-face {
  font-family: Ubuntu;
  src: url(/Ubuntu-Bold.ttf);
}

body {
	background-color: #ffffff;
}

html, body, #canvas {
	border: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: Ubuntu, sans-serif;
}

#canvas {
	position: absolute;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	cursor: default;
}

#textInputContainer {
	position: absolute;
	display: block;
}

#textInput {
	background-color: transparent;
	font-family: Ubuntu;
	padding: 0;
	margin: 0;
	outline: none;
}